@import url(https://fonts.googleapis.com/css?family=Voces);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body{
	font-family: 'Domine', serif;
	margin-top: 0;
	background-color: white;
}

h1,h4{
	font-family: 'Voces', cursive;
}

h1{
	text-align: center;
	color: #000;
	font-size: 3em;
	line-height: 1.5em;
}


#slogan{
	text-align: center;
	color: 000;
	font-size: 1.5em;
	font-family: 'Voces', cursive;
	font-style: italic;
	font-weight: bold;	
}


p {
	color: #000;
	font-size: 14px;
	margin: 1.5em;
}

#review{
	text-align: center;
	margin: 2.5em;
	line-height: 1.5em;
	background-color: #FFC675;
}

#hero{
	border: 5px white solid;
	background-color: #FFE2B8;
}	
	
header {
	background-color: #FFED74;
	text-align: center;
}

nav {
	background-color: #E8C66A;
	text-align: center;
	color: #fff;
}

hr {
width: 300px;
}

footer{
	background-color: #FF957E;
	text-align: center;
	color: #000;
	font-family: 'Voces', cursive;
}

#contact{
	font-weight: bold;
}	