body{
	background-image: url("http://orig04.deviantart.net/01a7/f/2014/077/b/9/freckles_photoshop_brush_by_screenlicker-d7aoiiw.jpg");
	background-size: cover;
	font-family: Verdana, Serif;
}

h1{
	text-align: center;
	color: #007f80;
	font-size: 48px;
}

#slogan{
	text-align: center;
	color: 000;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

p{
	text-align: center;
	color: #000;
	font-size: 14px;
}

ul{
	color: #000;
	font-size: 14px;
}	
	
div{
	background: white;
	width: 20%
	height: 25%
}
	